.index {
    &_intro {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: $white;
        overflow: hidden;
    }

    &_archiveis {
        background: $black;
        @extend .vspacer;
        h4,
        p {
            color: $white;
        }
        a {
            color: $white;
            border-bottom: 1px solid white;
        }
    }

    &_links {
        @extend .c4;
    }
}
