.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $white;
    overflow: hidden;
    @include xl {
        height: 90vh;
    }

    &_title {
        position: absolute;
        width: 43vw;
        bottom: $gutter * 2;
        z-index: 1;
        padding-left: 2vw;
        @include xl {
            width: 30vw;
        }
    }

    &_stack {
        position: absolute;
        width: 60vw;
        right: 0;
        height: 100%;

        li {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all ease 0.3s;
            &:hover {
                z-index: 1;
            }
            &.one {
                transform: translate(-85%, -75%);
                // z-index: 3;
            }

            &.two {
                transform: translate(-25%, -50%);
                // z-index: 2;
            }

            &.three {
                transform: translate(-60%, -10%);
                // z-index: 1;
            }
        }
    }
}
