// 100 Archive type styles

// Typeface — Deckard by Bobby Tannam
@font-face {
    font-family: $custom1;
    src: url(/assets/fonts/Deckard-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}


// Paragraph Styles

// Super Display (as used in the strips) – below styles are
.superdisplay {
    font-family: $display;
    font-weight: 900;
    line-height: 0.9em;

    // denotes range of sizes – 60 on mobile to 120 on large desktop
    @include ip(font-size, $sm, 60px, $xl, 120px);

    // from tablet up tighten it up
    @include md {
        letter-spacing: -2px;
    }
}

.display {
    font-family: $display;
    font-weight: 400;
    line-height: 1.2em;
    @include ip(font-size, $sm, 28px, $xl, 32px);
}

.largetext {
    font-family: $text;
    font-size: 18px;
    @include ip("font-size", $sm, 18px, $xl, 24px);
    line-height: 1.25em;
    font-weight: 400;
}

.text {
    font-family: $text;
    font-size: 16px;
    @include ip("font-size", $sm, 16px, $xl, 18px);
    line-height: 1.4em;
}

.smallcaps {
    letter-spacing: 1px;
    text-transform: uppercase;
}


// Layout Augmentations

.title {
    @extend .display;
    @extend .indent;

    .black & {
      color: white;
    }
}

.indent {
    margin-left: $gutter/2;
}


// Defaults
// Base Default Type
// makes everything just plain small text. Style type accordingly after this.
h1,h2,h3,h4,h5,h6,a,p,li,span {
    @extend .text;
}

input[type="text"] {
    background: transparent;
    border-bottom: 1px solid $black;
    &::placeholder {
        // color: $black;
    }
}

p {
  margin-bottom: 1.4em;
}
