
.black {
    background: $black;
    p, a, li, h1, h2, h3, h4, h5, h6 {
        color: $white;
    }   
}

.grey {
    background: $lightgrey;
}

.ul {
    border-bottom: 1px solid $black;
    .black & {
        border-bottom: 1px solid $white;
    }
}

.inline {
    & > * {
        display: inline-block;
    }
}

.indent {
    padding-left: $indent;
}

.doubleindent {
    padding-left: $indent*2;
}

.trans {
    transition: all $ease .4s;
}