
.black {
    background: $black;
    p, a, li, h1, h2, h3, h4, h5, h6 {
        color: $white;
    }   
}

.grey {
    background: $lightgrey;
}

.ul {
    border-bottom: 1px solid $black;
    .black & {
        border-bottom: 1px solid $white;
    }
}

.inline {
    & > * {
        display: inline-block;
    }
}

.indent {
    padding-left: $indent;
}

.doubleindent {
    padding-left: $indent*2;
}

.trans {
    transition: all $ease .4s;
}

.inline {
    & > * {
        margin-right: $gutter/2;
    }
}


.leaf {
    background: $leaf;
}

.green {
    background: $green;
}

.peach {
    background: $peach;
}

.midgrey {
    background: $midgrey;
}

.sky {
    background: $sky;
}

.purple {
    background: $purple;
}

.flesh {
    background: $flesh;
}

.mint {
    background: $mint;
}
