.btn {
    @extend .smallcaps;
    background: $black;
    color: $white;
    padding: 7px 10px 7px;
    transition: all ease 0.3s;

    &-series {
        text-transform: inherit;
        letter-spacing: .5px;
        position: absolute;
        top: 0px;
    }

}

