
.nav {
    @include wrap();
    padding: 0 $gutter;
    position: absolute;
    width: 100%;
    z-index: 1;
    @extend .flex;

    &_logo {
        flex: 1;
        padding: $gutter $gutter/2;
    }

    &_nav {
        flex: 1;
        padding: $gutter $gutter/2;
        li {
            padding: 0 $gutter/2 0 0;
            display: inline-block;
        }
    }

    .black & {
      color: $white;
    }
}
