.project {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 80px auto;

    .title {
      grid-column: 4 / span 2;
      grid-row: 2;
    }

    .text_two {
      grid-column: 2 / span 1;
      grid-row: 3;
    }

    .text_right {
      grid-column: 4 / span 2;
      grid-row: 3;
    }

    .images {
      grid-column: 2 / span 5;
      grid-row: 4;
    }
}



// .projects {
//     &_nav {
//         @extend .c2;
//         width: 100%;

//         ul {
//             text-align: right;
//         }
//         li {
//             display: inline-block;
//             padding-left: $gutter;
//             a {
//                 @extend .text, .smallcaps;
//             }
//         }
//     }

//     &_list {
//         @extend .c4;
//         & > div {
//             padding-bottom: $gutter * 1.5;
//         }
//     }

//     &_project {
//         h3 {
//             @extend .text;
//         }
//         img {
//             padding-bottom: 6px;
//             transition: all ease 0.3s;
//         }
//         h3 {
//             padding-bottom: 4px;
//         }
//         p.credit {
//             padding-bottom: 4px;
//             transition: all ease 0.3s;
//             padding-left: 15px;
//         }
//         &:hover {
//             img {
//                 transform: scale(1.03) translatey(-4px);
//             }
//             p.credit {
//                 transform: translateX(-15px);
//             }
//         }
//     }
// }
