

.subnav {
    @extend .flex;
    justify-content: space-between;

    .filter {
        width: 50%;
    }
    li {
        list-style-type: none;
        padding-left: $gutter*.3;
    }
    & > ul > li {
        display: inline-block;
        list-style-type: none;
        padding-right: 20px;
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
    }

}

section.subnav {
    @extend .pad;
}