
$indent: 15px;

.thumb {
    position: relative;
    padding: $gutter;
    img {
        padding-bottom: 10px;
        transition: all ease 0.3s;
    }
    time, h4, h3, p, date {
        padding-bottom: 12px;
        transition: all ease 0.3s;
    }

    date {
        display: block;
    }
    .thumb_indent {
        padding-left: $indent;
    }
    .thumb_doubleindent {
        padding-left: $indent*2;
    }
    &:hover {
        .thumb_indent {
            transform: translateX(-$indent);
        }
        .thumb_doubleindent {
            transform: translateX(-$indent*2);
        }
    }
}